@import "../Styles/layouts";
@import "../Styles/mixins";

.member-manage-wrapper {
  height: 100%;
  display: flex;

  @include mobile {
    justify-content: left;
  }

  @include small-screen {
    justify-content: center;
  }

  .member-manage-area {
    width: 1000px;
    // min-width: 600px;
    border-radius: 5px;

    .team-selection-area {
      color: white;
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      padding: 10px 20px;
      height: 10%;
 
      .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: 30px;
        margin-bottom: 2px;
      }

      .team-select {
        @include mui-bright-input;
        @include mui-icon-color;

        width: 250px;
      }
    }

    .member-area {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;

      .add-member-wrapper {
        @include mui-bright-input;
        @include mui-icon-color;
        @include mui-icon-hover-color(rgb(0, 177, 177));

        @include mobile {
          width: 96%;
          margin: 2%;
        }

        @include small-screen {
          width: 47%;
          margin: 1.5%;
        }

        @include desktop {
          width: 31%;
          margin: 1.166%;
        }

        width: 31%;
        min-height: 140px;
        margin: 1.166%;

        border: 3px dashed rgb(51, 56, 65);
        // padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-member-select-area {
          background: rgb(84, 83, 99);
          width: 100%;
          height: 100%;
          border-radius: 8px;
          box-sizing: border-box;
          padding: 10px 20px;

          .option-btn-area {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .btn-confirm-add-member, .btn-cancel-add-member {
              margin: 3px;
            }
          }
        }
      }
    }
  }
}