.member-manage-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .control-area {
    width: 800px;
    height: 700px;

    background: yellow;
    border: 3px solid rgb(184, 184, 184);
    border-radius: 5px;

    .team-selection-area {
      background: azure;
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      padding: 10px 20px;
      height: 70px;
      
      .title {
        font-size: 1.5rem;
        margin-right: 30px;
        margin-bottom: 2px;
      }

      .team-select {
        width: 200px;
      }
    }
  }
}