.sidebar-wrapper {
  padding: 25px;

  .sidebar-home-btn {
    height: 35px;
    width: 100%;
  }
  
  .sidebar-divider {
    color: white;
    border-bottom: 1px white solid;
    margin: 20px 0;
  }

  .sidebar-team-manage-wrapper {
    font-size: 1.05em;

    .sidebar-team-manage-title {
      padding: 10px 0;
      display: flex;
      align-items: center;
      font-weight: bolder;
    }

    .sidebar-team-manage-content {
      margin-left: 32px;
      // width: 100%;

      .sidebar-team-manage-option {
        position: relative;

        .sidebar-team-manage-option-background {
          z-index: -1;
          position: absolute;
          width: 100%;
          height: 100%;
          // left: -143px;

          opacity: 0;

          &.active {
            border-right: 4px solid rgb(111, 172, 190);
            background-image: linear-gradient(to right, rgba(77, 122, 136, 0) 0%, rgba(77, 122, 136, .2) 60%, rgba(77, 122, 136, .8) 99%);
            opacity: 1;

            // left: 0px;

            transition: opacity .5s;
            // transition: left .25s, border-right .25s .05s;
          }
        }

        .sidebar-team-manage-option-link {
          padding: 10px 0;
          
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
