@import '../Styles/mixins';

.user-manage-wrapper {
  height: 100%;
  
  .user-manage-search-area {
    @include mui-bright-input;
    @include mui-icon-color;

    box-sizing: border-box;
    height: 12%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px;
  }

  .user-list-area {
    height: 88%;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;

    .user-list {
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
    }
  }
}

.dialog-add-user {
  @include mui-bright-input;
}