.main {
  height: inherit;
}

.content {
  padding-top: 60px;
  height: 100%;
  width: 100%;
  background: #4e4d5c;
  box-sizing: border-box;
  position: relative;
  overflow: auto;

  .sidebar {
    position: fixed;
    height: 100%;
    width: 225px;
    background: #2d4654;
    color: white;
    box-shadow: none;
    z-index: 80;

    left: -225px;
    &.active {
      left: 0px;
      box-shadow: 2px 0px 8px #1c2c35;
    }

    transition: left .5s, box-shadow .5s;
  }

  .content-right {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-width: 900px;
    box-sizing: border-box;

    padding-left: 0px;
    &.active {
      padding-left: 225px;
    }

    transition: padding-left .5s;
  }
}
