.navbar-wrapper {
  position: fixed;
  background: #172832;
  min-height: 60px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  color: white;

  display: flex;
  align-items: center;

  box-shadow: 0px 2px 8px #172630;
  z-index: 100;

  .navbar-logo-area {
    margin-right: auto;
  }

  .navbar-navigation-link {
    color: white;
    margin-right: 15px;
  }
  
  .navbar-profile-btn {

    background: rgb(148, 148, 0);
    
    &:hover {
      cursor: pointer;
    }
  }
}

